@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<input  class="form-group-lg"/> 
<input type="submit" class="btn btn-success" value="Send Invoice" />


<p>Use this area to provide additional information.</p>
